<form method="post" action="{{ path('app_degree_type_delete', {'id': degree_type.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ degree_type.id) }}">
    <button class="btn">Delete</button>
</form>
