{% extends 'base.html.twig' %}

{% block title %}Edit DegreeType{% endblock %}

{% block body %}
    <h1>Edit DegreeType</h1>

    {{ include('degree_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_degree_type_index') }}">back to list</a>

    {{ include('degree_type/_delete_form.html.twig') }}
{% endblock %}
