{% extends 'base.html.twig' %}

{% block title %}DegreeType index{% endblock %}

{% block body %}
    <a href="{{ path('index') }}">Index</a>
    <h1>DegreeType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for degree_type in degree_types %}
            <tr>
                <td>{{ degree_type.id }}</td>
                <td>{{ degree_type.name }}</td>
                <td>
                    <a href="{{ path('app_degree_type_show', {'id': degree_type.id}) }}">show</a>
                    <a href="{{ path('app_degree_type_edit', {'id': degree_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_degree_type_new') }}">Create new</a>
{% endblock %}
