{% extends 'base.html.twig' %}

{% block title %}New DegreeType{% endblock %}

{% block body %}
    <h1>Create new DegreeType</h1>

    {{ include('degree_type/_form.html.twig') }}

    <a href="{{ path('app_degree_type_index') }}">back to list</a>
{% endblock %}
