{% extends 'base.html.twig' %}

{% block title %}DegreeType{% endblock %}

{% block body %}
    <h1>DegreeType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ degree_type.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ degree_type.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_degree_type_index') }}">back to list</a>

    <a href="{{ path('app_degree_type_edit', {'id': degree_type.id}) }}">edit</a>

    {{ include('degree_type/_delete_form.html.twig') }}
{% endblock %}
