<form method="post" action="{{ path('app_social_link_type_delete', {'id': social_link_type.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ social_link_type.id) }}">
    <button class="btn">Delete</button>
</form>
