{% extends 'base.html.twig' %}

{% block title %}Edit SocialLinkType{% endblock %}

{% block body %}
    <h1>Edit SocialLinkType</h1>

    {{ include('social_link_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_social_link_type_index') }}">back to list</a>

    {{ include('social_link_type/_delete_form.html.twig') }}
{% endblock %}
