{% extends 'base.html.twig' %}

{% block title %}New SocialLinkType{% endblock %}

{% block body %}
    <h1>Create new SocialLinkType</h1>

    {{ include('social_link_type/_form.html.twig') }}

    <a href="{{ path('app_social_link_type_index') }}">back to list</a>
{% endblock %}
