{% extends 'base.html.twig' %}

{% block title %}SocialLinkType{% endblock %}

{% block body %}
    <h1>SocialLinkType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ social_link_type.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ social_link_type.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_social_link_type_index') }}">back to list</a>

    <a href="{{ path('app_social_link_type_edit', {'id': social_link_type.id}) }}">edit</a>

    {{ include('social_link_type/_delete_form.html.twig') }}
{% endblock %}
