<form method="post" action="{{ path('app_job_experience_delete', {'id': job_experience.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job_experience.id) }}">
    <button class="btn">Delete</button>
</form>
