{% extends 'base.html.twig' %}

{% block title %}Edit JobExperience{% endblock %}

{% block body %}
    <h1>Edit JobExperience</h1>

    {{ include('job_experience/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_job_experience_index') }}">back to list</a>

    {{ include('job_experience/_delete_form.html.twig') }}
{% endblock %}
