{% extends 'base.html.twig' %}

{% block title %}JobExperience index{% endblock %}

{% block body %}
    <a href="{{ path('index') }}">Index</a>
    <h1>JobExperience index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>City</th>
                <th>Company</th>
                <th>IsEmployed</th>
                <th>Description</th>
                <th>Position</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job_experience in job_experiences %}
            <tr>
                <td>{{ job_experience.id }}</td>
                <td>{{ job_experience.startDate ? job_experience.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ job_experience.endDate ? job_experience.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ job_experience.city }}</td>
                <td>{{ job_experience.description }}</td>
                <td>{{ job_experience.position }}</td>
                <td>{{ job_experience.company }}</td>
                <td>{{ job_experience.isEmployed ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_job_experience_show', {'id': job_experience.id}) }}">show</a>
                    <a href="{{ path('app_job_experience_edit', {'id': job_experience.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_job_experience_new') }}">Create new</a>
{% endblock %}
