{% extends 'base.html.twig' %}

{% block title %}New JobExperience{% endblock %}

{% block body %}
    <h1>Create new JobExperience</h1>

    {{ include('job_experience/_form.html.twig') }}

    <a href="{{ path('app_job_experience_index') }}">back to list</a>
{% endblock %}
