{% extends 'base.html.twig' %}

{% block title %}JobExperience{% endblock %}

{% block body %}
    <h1>JobExperience</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ job_experience.id }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ job_experience.startDate ? job_experience.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ job_experience.endDate ? job_experience.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ job_experience.city }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ job_experience.description }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ job_experience.position }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ job_experience.company }}</td>
            </tr>
            <tr>
                <th>IsEmployed</th>
                <td>{{ job_experience.isEmployed ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_job_experience_index') }}">back to list</a>

    <a href="{{ path('app_job_experience_edit', {'id': job_experience.id}) }}">edit</a>

    {{ include('job_experience/_delete_form.html.twig') }}
{% endblock %}
