{% extends 'base.html.twig' %}

{% block title %}Education index{% endblock %}

{% block body %}
    <a href="{{ path('index') }}">Index</a>
    <h1>Education index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DegreeName</th>
                <th>GraduationDate</th>
                <th>Faculty</th>
                <th>Speciality</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for education in education %}
            <tr>
                <td>{{ education.id }}</td>
                <td>{{ education.degreeName }}</td>
                <td>{{ education.faculty }}</td>
                <td>{{ education.speciality }}</td>
                <td>{{ education.graduationDate ? education.graduationDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_education_show', {'id': education.id}) }}">show</a>
                    <a href="{{ path('app_education_edit', {'id': education.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_education_new') }}">Create new</a>
{% endblock %}
