{% extends 'base.html.twig' %}

{% block title %}Education{% endblock %}

{% block body %}
    <h1>Education</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ education.id }}</td>
            </tr>
            <tr>
                <th>DegreeName</th>
                <td>{{ education.degreeName }}</td>
            </tr>
            <tr>
                <th>Faculty</th>
                <td>{{ education.faculty }}</td>
            </tr>
            <tr>
                <th>Speciality</th>
                <td>{{ education.speciality }}</td>
            </tr>
            <tr>
                <th>GraduationDate</th>
                <td>{{ education.graduationDate ? education.graduationDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_education_index') }}">back to list</a>

    <a href="{{ path('app_education_edit', {'id': education.id}) }}">edit</a>

    {{ include('education/_delete_form.html.twig') }}
{% endblock %}
