<form method="post" action="{{ path('app_personal_data_delete', {'id': personal_datum.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ personal_datum.id) }}">
    <button class="btn">Delete</button>
</form>
