{% extends 'base.html.twig' %}

{% block title %}Edit PersonalData{% endblock %}

{% block body %}
    <h1>Edit PersonalData</h1>

    {{ include('personal_data/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_personal_data_index') }}">back to list</a>

    {{ include('personal_data/_delete_form.html.twig') }}
{% endblock %}
