{% extends 'base.html.twig' %}

{% block title %}PersonalData index{% endblock %}

{% block body %}

    <a href="{{ path('index') }}">Index</a>
    <h1>PersonalData index</h1>

    <table class="table">
        <thead>`
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Adress</th>
                <th>About</th>
                <th>Profession</th>
                <th>Active</th>
                <th>Visible</th>
                <th>Birthday</th>
                <th>Sent_invitation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personal_datum in personal_datas %}
            <tr>
                <td>{{ personal_datum.id }}</td>
                <td>{{ personal_datum.firstName }}</td>
                <td>{{ personal_datum.lastName }}</td>
                <td>{{ personal_datum.email }}</td>
                <td>{{ personal_datum.phone }}</td>
                <td>{{ personal_datum.adress }}</td>
                <td>{{ personal_datum.about }}</td>
                <td>{{ personal_datum.profession }}</td>
                <td>{{ personal_datum.active ? 'Yes' : 'No' }}</td>
                <td>{{ personal_datum.visible ? 'Yes' : 'No' }}</td>
                <td>{{ personal_datum.birthday ? personal_datum.birthday|date('Y-m-d') : '' }}</td>
                <td>{{ personal_datum.sentInvitation ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_personal_data_show', {'id': personal_datum.id}) }}">show</a>
                    <a href="{{ path('app_personal_data_edit', {'id': personal_datum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_personal_data_new') }}">Create new</a>
{% endblock %}
