{% extends 'base.html.twig' %}

{% block title %}New PersonalData{% endblock %}

{% block body %}
    <h1>Create new PersonalData</h1>

    {{ include('personal_data/_form.html.twig') }}

    <a href="{{ path('app_personal_data_index') }}">back to list</a>
{% endblock %}
