{% extends 'base.html.twig' %}

{% block title %}PersonalData{% endblock %}

{% block body %}
    <h1>PersonalData</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personal_datum.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ personal_datum.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ personal_datum.lastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ personal_datum.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ personal_datum.phone }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ personal_datum.adress }}</td>
            </tr>
            <tr>
                <th>About</th>
                <td>{{ personal_datum.about }}</td>
            </tr>
            <tr>
                <th>Profession</th>
                <td>{{ personal_datum.profession }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ personal_datum.active ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Visible</th>
                <td>{{ personal_datum.visible ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ personal_datum.birthday ? personal_datum.birthday|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Sent_invitation</th>
                <td>{{ personal_datum.sentInvitation ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_personal_data_index') }}">back to list</a>

    <a href="{{ path('app_personal_data_edit', {'id': personal_datum.id}) }}">edit</a>

    {{ include('personal_data/_delete_form.html.twig') }}
{% endblock %}
