<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
<body>
{% block body %}
    <div class="main_nav d-flex flex-row align-items-end justify-content-start">
        <ul class="d-flex flex-column align-items-start justify-content-start">
            <li><a href="{{ path('app_personal_data_index') }}">Personal Data (User)</a></li>
            <li><a href="{{ path('app_job_experience_index') }}">Job Experience</a></li>
            <li><a href="{{ path('app_degree_type_index') }}">Degree</a></li>
            <li><a href="{{ path('app_social_link_type_index') }}">Social media types</a></li>
            <li><a href="{{ path('app_social_links_index') }}">Social media links</a></li>
            <li><a href="{{ path('app_education_index') }}">Education</a></li>
        </ul>
    </div>
{% endblock %}
</body>
</html>
