{% extends 'base.html.twig' %}

{% block title %}Edit SocialLinks{% endblock %}

{% block body %}
    <h1>Edit SocialLinks</h1>

    {{ include('social_links/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_social_links_index') }}">back to list</a>

    {{ include('social_links/_delete_form.html.twig') }}
{% endblock %}
