{% extends 'base.html.twig' %}

{% block title %}SocialLinks index{% endblock %}

{% block body %}
    <a href="{{ path('index') }}">Index</a>
    <h1>SocialLinks index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Link</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for social_link in social_links %}
            <tr>
                <td>{{ social_link.id }}</td>
                <td>{{ social_link.link }}</td>
                <td>{{ social_link.type }}</td>
                <td>
                    <a href="{{ path('app_social_links_show', {'id': social_link.id}) }}">show</a>
                    <a href="{{ path('app_social_links_edit', {'id': social_link.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_social_links_new') }}">Create new</a>
{% endblock %}
