{% extends 'base.html.twig' %}

{% block title %}New SocialLinks{% endblock %}

{% block body %}
    <h1>Create new SocialLinks</h1>

    {{ include('social_links/_form.html.twig') }}

    <a href="{{ path('app_social_links_index') }}">back to list</a>
{% endblock %}
