{% extends 'base.html.twig' %}

{% block title %}SocialLinks{% endblock %}

{% block body %}
    <h1>SocialLinks</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ social_link.id }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ social_link.link }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ social_link.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_social_links_index') }}">back to list</a>

    <a href="{{ path('app_social_links_edit', {'id': social_link.id}) }}">edit</a>

    {{ include('social_links/_delete_form.html.twig') }}
{% endblock %}
